.task-card {
  background: white;
  border-radius: 12px;
  margin: 10px 0; 
  padding: 12px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 2px solid transparent;
  font-weight: bolder;
  font-size: 16px;
}
.task-card.todo {
  border-color: #3b82f6; 
}
.task-card.inProgress {
  border-color: #f59e0b; 
}
.task-card.done {
  border-color: #10b981; 
}
.task-card .task-actions .move-btn{
  width: 120px;              
  background-color: #f0f5f5; 
  color: #6e7e92;               
  border: none;
  border-radius: 5px;        
  padding: 10px;                   
  cursor: pointer;           
  font-size: 0.7rem;         
  transition: background-color 0.2s;
}
.task-card:hover {
  transform: translateY(-3px);      
  box-shadow: 0 4px 10px rgba(0,0,0,0.15); 
}