.board-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding: 35px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  width: 20rem;
}

.board-column h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  margin-top: 1px;
}


