.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  font-family: system-ui, sans-serif;
}
.App-header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  border-bottom: 2px solid #000000;
}

h1 {
  font-size: 2rem;
  align-self: flex-start;
}