.App {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ebecf0;
}
.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  padding: 0px 315px;
  box-shadow:  0 2px 4px rgba(0,0,0,0.1);
  flex-shrink: 0;
}

h1 {
  font-size: 2.5rem;
  align-self: flex-start;
  margin-left: 4px;
}

button{
  background-color: #f0f5f5;
  color: #6e7e92;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  margin-left: 15px;
}
